<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC8VjciOF-8ZJChsiPvqWLrHrVI5vs_LsM</string>
	<key>GCM_SENDER_ID</key>
	<string>467185958829</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cjfactorysoftware.citapro</string>
	<key>PROJECT_ID</key>
	<string>citapro-a7ecb</string>
	<key>STORAGE_BUCKET</key>
	<string>citapro-a7ecb.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:467185958829:ios:af865d143044c668d52b24</string>
</dict>
</plist>